/**
 * Module dependencies
 */

@require 'shoelace-ui-spacing'

/**
 * Apply transparent mixin to
 *   - `margin`
 *   - `margin-top`
 *   - `margin-right`
 *   - `margin-bottom`
 *   - `margin-left`
 */

margin()
  spacing--mixin(arguments)

// `margin` clockhand positions
margin-top()
  spacing--mixin(arguments)
margin-right()
  spacing--mixin(arguments)
margin-bottom()
  spacing--mixin(arguments)
margin-left()
  spacing--mixin(arguments)
